/* stylelint-disable color-no-hex */
.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%; /* for IE 6 */
    padding: 20px;
    background: linear-gradient(rgba(42, 48, 82, 0.7), rgba(42, 48, 82, 1)), url('assets/images/header-img-min.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.TopBar {
    display: block;
    position: absolute;
    padding: 15px 0;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 9;
    background: none;
}

.logo {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 200px;
}

.header-content {
    margin-top: 50px;
}

.header-title {
    padding-bottom: 50px;
}

.cta-form-container {
    width: 280px;
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.cta-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.input-lg {
    width: 250px;
    max-width: 100%;
    padding: 7px;
    margin: 10px 0;
    transition: all 0.3s ease-out;
}

.cta-form-button span {
    margin: 10px 0;
}

.cta-title {
    padding: 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.section {
    padding: 30px 0;
}

.section-lg {
    padding: 50px 0;
}

.section-title {
    margin-bottom: 20px;
    font-size: 42px;
}

.section-subtitle {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 400;
}

.icon-report {
    width: 50px;
    height: 50px;
    max-width: 100%;
    background: url('assets/svg/experience-trading.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: auto;
    margin-top: 15px;
}

.icon-events {
    width: 50px;
    height: 50px;
    max-width: 100%;
    background: url('assets/svg/event.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0px;
}

.icon-trade-ideas {
    width: 50px;
    height: 50px;
    max-width: 100%;
    background: url('assets/svg/stock-data-analysis.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: auto;
    margin-top: 15px;
}

.icon {
    margin-top: 50px;
    margin-bottom: 0;
}

.author-image {
    margin-top: 20px;
    text-align: center;
}

.rounded {
    border-radius: 100%;
    border: 1px solid #dedede;
    padding: 3px;
    width: 125px;
    height: auto;
    max-width: 100%;
}

.video {
    width: 800px;
    max-width: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.step {
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}

.title-2xl {
    font-weight: 300;
    font-size: 52px;
    line-height: 64px;
    margin: 0;
}

.title-xl {
    font-weight: 300;
    font-size: 48px;
    line-height: 54px;
    margin: 0;
}

.title-md {
    font-weight: 300;
    font-size: 28px;
    margin: 0;
}

.title-sm {
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
}

.center-text {
    text-align: center;
}

.text-left {
    text-align: left;
}

.bottom-md {
    margin-bottom: 30px;
}

.bottom-xl {
    margin-bottom: 60px;
}

.divider-md {
    height: 30px;
}

.top-border {
    border-top: 1px solid #f2f2f2;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.ft-bold {
    font-weight: bold;
}

.ft-400 {
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
}

.spacing-1 {
    letter-spacing: 1px;
}

.img-col {
    max-width: 200px;
}

.col-ico {
    margin: 20px 0;
}

.col-label {
    text-align: left;
    padding-left: 20px;
}

.dark-grey-bg {
    background: #eaeaea;
}

.right-white-border {
    border-right: 1px solid #ffffff;
}

/* stylelint-enable color-no-hex */

@media screen and (max-width: 1024px) {
    .lg-center {
        text-align: center;
    }
    .header-content {
        margin-top: 100px;
    }
}

@media screen and (max-width: 992px) {
    .md-center {
        text-align: center;
    }
    .md-v-pading-sm {
        padding: 20px;
    }
    .col-step {
        margin: 20px 0;
    }
    .top-border {
        border: none;
    }
    .md-hide {
        display: none;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        text-align: center;
    }
    .header-title, .header-subtitle {
        text-align: center;
    }
    .header-subtitle {
        font-size: 24px;
    }
    .cta-form-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 766px) {
    .button, .button-secondary {
        display: block;
        margin: 5px;
    }
    .title-xl, .title-2xl {
        font-size: 36px;
        line-height: 36px;
        margin-top: 30px;
    }
}

.test {
    background-color: #eeeeee;
}